.mainContainer {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 70px 0;
}

.success-screen {
    width: 100%;
    min-width: 500px;
    height: 500px;
    background: #FEFCFC;
}

.swal2-confirm a {
    text-decoration: none;
    color: #fff;
}